.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 222);
}
.container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 40%;
  width: 50%;
  padding: 10px 30px;
}

.heading {
  font-weight: 500;
}

.inputs {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.input label {
  margin-bottom: -10px;
}

.input label:after {
  content: " *";
  color: red;
}

.input {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}
.input input {
  height: 30px;
  width: 200px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 4px 8px;
  border-radius: 4px;
}

.slots {
  height: 70px;
  width: 100%;
  background-color: #98f9ff;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  height: 8px;
  /* background: rgb(219, 219, 219); */
  margin-top: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #878787e4;
  border-radius: 10px;
}
.type {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.block:first-child {
  height: 10px;
  width: 15px;
  background-color: #c4c4c4;
}
.block {
  height: 10px;
  width: 15px;
  background-color: #1dee19;
}

.button {
  background-color: #1a73e8;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 8px 21px;
  text-align: center;
}
